*
{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    background-color: white;
}

a
{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

ul
{
    list-style-type: none;
}

/*--- Header ---*/

.header
{
    flex: 0 0 50px;
    background-color: #1f2937;
    display: flex;
    gap: 6rem;
    justify-content: space-between;
}

.header-logo
{
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    display: flex;
    font-size: 24px;
}

.header-links
{
    display: flex;
    flex: 1;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

/*---   ---*/



/*Body + Footer */

/* .description-image,
.current-past-projects,
.quote,
.signButton-footer
{
    flex: 1;
} */

.body-footer
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*---   ---*/

/* Description & Image Styles */

.description-image
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    gap: 3rem;
    padding: 150px;
    flex: wrap;
}


.description-image img
{/* Image Size */
    width: 600px;
    height: 300px;
} 

.description
{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 300px;
    padding: 10px;
    flex: 0 0 550px;
    gap: 0;
    flex-wrap: wrap;
}
.description button
{
    border: 2px solid #3882f6;
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    padding: 8px 16px;
    align-self: flex-start; 
}

.description .summary
{
    font-size: 18px;
    color: #e5e7eb;
    margin: 15px 0;
    padding: 0;
    width: 500px;
}

.description .title
{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 0;
    margin: 0;
    width: 500px
}

/* ---------------------------- */


/* Recent Project Section Styles */

.current-past-projects
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 3rem;
}

.title-projects 
{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    align-content: center;
}

.containers
{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.container img
{
    border-radius: 12px;
    width: 150px;
    height: 150px;
}

.container
{
    flex: 1;
    display: flex;
    padding: 0;
    gap: 0;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 200px;
}

.container p
{
    text-align: center;
    padding: 0;
}

/* -------------------- */

/* Quote Section */

.quote-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: #e5e7eb;
}

.section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote
{
    font-size: 36px;
    color: #1f2937;
    width: 700px;
    margin-bottom: -5px;
}

.author
{
    width: 150px;
    font-size: 22px;
    font-weight: bolder;
    align-self: flex-end;
}
/* ---------------- */

/* --- Footer --- */
.signButton-footer
{
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: white;
}

.credits
{
    background-color: #3882f6;
    border-radius: 8px;
    width: 900px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.credits button
{
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    padding: 8px 16px;
}

.heading p
{
    margin: 5px;
}

.hello
{
    background-color: #1f2937;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

/* ---------------- */

.header-about-me
{
    flex: 0 0 50px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
    flex: 1;
}

.about-me
{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0;
}

.about-me p
{
    font-size: 24px;
}

.about-me img
{
    width: 480px;
    height: 600px;
}

.bio 
{
    display: flex;
    flex-direction: column;
    flex: 0 0 1400px;
    flex-wrap: wrap;
}

.footer
{
    background-color: #1f2937;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer a
{
    color: white;
    font-weight: bolder;
    font-size: 18px;

}
